@font-face{
	font-family: Cuyabra;
	src: url('/static/fonts/cuyabra.otf');
}

#fieldsContainer{
	height: 100%;
	text-align: center;
	background-color: #CAE4ED;
	float: left;
	width: 35%; 
	height: 100%;
}

#submitButton{
	width: 100px !important;
}
#fieldsContainer > div > input{
	float: left;
	margin-bottom: 15px;
	margin-left: 25%;
	height: 30px;
	width: 55%;
	border-radius: 7px;
	border-style: groove;
	padding-left: 5px;
}

#fieldsContainer > div > img{
	padding-right: 10%;
	width: 300;
}

body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

#infoPanel{
	font-family: Cuyabra; 
	float: right;
	text-align: center;
	width: 65%;
	height: 100%;
	position: relative;
}

#infoPanelBackground{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.09;
}
#infoTitle{
	font-size: 52;
	text-decoration: bold;
	margin-bottom: 20px;
}

#infoContent{
	font-size: 30;
}

#errorMessage{
	display: none;
	background-color: rgba(253, 38, 38, 0.5);
	border-style: hidden;
	border-radius: 10px;
	text-align: center;
	width: 60%;
	margin-left: 20%;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 14;
	font-family: sans-serif;
	min-width: 0px;
}